[lobos]
# backend=spdk_blobstore          # other accepted: filesystem
backend=filesystem
listen_ip=0.0.0.0
port=8080                       # port lobos listens on
http_threads = 8                # numbers of beast threasd
# Pin beast threads to CPU cores:
# leave empty to disable
# n-m for a range
# n,m,o to specify cores
http_threads_cores = 1-8
# If either of those is empty, auth will be disabled
# note that lobos will not allow to listen to anything
# but 127.0.0.1 unless auth is enabled.
access_key=lobos
secret_key=lobos
# endpoint for the control plane
grpc_server=127.0.0.1:50052

[filesystem]
directory=/mnt/lobos                  # if in filesystem mode, this will use this option as CWD

[spdk_blobstore]
# As to be a pciaddr or "malloc" for testing
# with malloc a 16MiB malloc bdev will be created
device=0000:c1:00.0
# device = malloc 
cluster_sz = 32768             # see: https://spdk.io/doc/blob.html
log_level = debug               # debug/none supported only currently
reactor_core = 0                # SPDK pins its thread to a CPU core
# SPDK polls by defaut, it can be switched to interrupt
# mode, it's particularly to avoid spinning the CPU 
# during dev/testing. For max performance do not set.
# interrupt_mode=true
max_use_pct=95